*{
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}
#getout{
    text-decoration: none;
    color: black;
}
#navi_bar{
    width: 100%;
    text-align: center;
}
.navi{
    width: 16%;
    margin-bottom: 5px;
    display: inline-block;
    font-size: 1.25em;
    min-width: 150px;
}
.navi a{
    color: black;
}
header{
    background-color: lightgray;
    color:black;
    border: 2px solid;
}
body{
    background-color: lightskyblue;
}
#crosswords{
    text-align: center;
    width: 100%;
}
.crossword{
    display: inline-block;
    margin: auto;
    text-align: center;
    width: 25%;
    min-width: 250px;
}
footer{
    display: flow-root;
    background-color: lightgray;
    border: 2px solid;
}
#pfp_container{
    margin: 10px;
}
#pfp{
    float: left;
    margin-bottom: 10px;
    margin-right: 10px
}
.temptext{
    max-width: 300px;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
}
#tempbox{
    margin-top: 100px;
    margin-bottom: 75px;
}
.pagesection{
    margin-left: 50px;
    margin-right: 50px;
}
#REMap{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 750px;
    max-width: 100%;
}
